body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue";
  background: linear-gradient(-90deg, #ffffff, #eeeeee, #dddddd, #cccccc, #bbbbbb, #aaaaaa, #bbbbbb, #cccccc, #dddddd, #eeeeee, #ffffff);
  background-size: 300% 300%;
  -webkit-animation: gradient 5s ease infinite;
  -moz-animation: gradient 5s ease infinite;
  animation: gradient 5s ease infinite;
}


.App {
  text-align: center;

  @media screen and (max-width: 940px) {
    .planet-wrapper {
      margin: 10vh 20vw;
      width: 60vw;
    }
  }

  @media screen and (max-width: 600px) {
    .planet-wrapper {
      margin: 10vh auto;
      min-width: 300px;
    }
  }

  .planet-wrapper {
    margin: 10vh auto;
    max-width: 60vw;
    width: 400px;
    height: 80vh;

    .planet-content,
    .planet-next,
    .planet-next button {
      text-transform: uppercase;
    }

    .planet-content {
      background-color: #dddddd;

      .content-error,
      .content-status {
        position: relative;
        padding-left: 3.5rem;
        padding: 1rem;
        line-height: calc(66vh - 6rem - 18px - 2rem);
        height: calc(80vh - 6rem - 2rem);
      }

      .content-status {
        .loader {
          border: .5rem solid #ffffff;
          border-top: .5rem solid #333333;
          border-radius: 100%;
          animation: loader .5s linear infinite;
          position: absolute;
        }
      }

      .content-error {

        .error:before,
        .error:after {
          content: '';
          position: absolute;
          width: .25rem;
          height: .75rem;
          left: 1.5rem;
          top: 1.25rem;
          background: black;
        }

        .error:before {
          transform: skew(42deg)
        }

        .error:after {
          transform: skew(-42deg);
        }
      }

      .content {
        overflow-wrap: break-word;
        border: 6px solid #333333;
        height: calc(80vh - 6rem - 12px);
        overflow: auto;

        .info {
          padding: 1rem;
          font-size: 1.2rem;

          span {
            font-weight: bold;
          }

          div {
            padding: .4rem;
          }

          .feature {
            div {
              font-size: 1rem;
              cursor: pointer;
            }
          }
        }

        .title {
          border-bottom: 6px solid #333333;
          padding: 1rem;
          font-size: 2rem;
        }
      }
    }

    .planet-next {
      height: 6rem;
      line-height: 6rem;

      button {
        border: 6px solid #333;
        padding: .2rem 1rem;
        background: transparent;
        font-size: 1.5rem;
        cursor: pointer;
      }
    }
  }

  .tooltip {
    position: relative;

    &:before {
      content: attr(data-title);
      background-color: #000;
      color: #FFF;
      font-size: 13px;
      padding: 10px;
      box-sizing: border-box;
      position: absolute;
      left: 0;
      bottom: -50px;
      width: 250px;
      opacity: 0;
      white-space: pre;
      visibility: hidden;
    }

    &:after {
      content: "";
      position: absolute;
      opacity: 0;
      width: 0;
      height: 0;
      left: 5px;
      bottom: -16px;
      visibility: hidden;
    }

    &:hover:after,
    &:hover:before {
      opacity: 1;
      visibility: visible;
    }
  }

  @mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
      @content;
    }

    @-moz-keyframes #{$animation-name} {
      @content;
    }

    @keyframes #{$animation-name} {
      @content;
    }
  }

  @include keyframes(gradient) {
    0% {
      background-position: 0% 50%
    }

    50% {
      background-position: 100% 50%
    }

    100% {
      background-position: 0% 50%
    }
  }

  @include keyframes(loader) {
    0% {
      transform: rotate(0deg)
    }

    100% {
      transform: rotate(360deg);
    }
  }
}

.popup-overlay {
  &.visible {
    visibility: visible;
    opacity: 1;
  }

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.9);
  visibility: hidden;
  opacity: 0;

  .popup {
    margin: 3rem auto;
    padding: .5rem;
    background: #ffffff;
    border-radius: 5px;
    width: 60vw;
    position: relative;
    border: 3px solid #333333;

    .close {
      position: absolute;
      top: -1rem;
      right: -1rem;
      font-size: 1.4rem;
      font-weight: bold;
      text-decoration: none;
      color: #333333;
      cursor: pointer;
      background: #ffffff;
      padding: .1rem .6rem;
      border-radius: 100%;
      border: 3px solid #000000;

      &:hover {
        color: #000000;
      }
    }

    .content {
      max-height: 30%;
      overflow: auto !important;
      white-space: pre-line;
      background: #333333;
      color: #ffffff;
    }
  }
}